.box {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  position: relative;
  top: 100px;
  margin: 30% 50px 0 100px;
  width: 20%;
  overflow-x: hidden;
}
.box-child {
  padding: -10px;
}
