.flexbox {
  display: flex;
  position: relative;
  margin-top: 45%;
  margin-left: 50%;
}
.box3 {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: start;
  border-radius: 15px;
  padding: 25px;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #313250;
  padding: 25px;
  border-radius: 15px;
  overflow-y: hidden;
  min-height: 650px;
}

.box-child {
  margin-bottom: 25px;
  background-color: #4a4a6c;
}
.box2 {
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  background-color: #313250;
  top: 45%;
  border-radius: 15px !important;
  padding: 20px;
  left: 145px;
  width: 42%;
  height: max-content;
}
.box2 h4 {
  opacity: 1;
}
input[type="text"] {
  background-color: #313250 !important;
  color: #fff !important;
  border-radius: 15px;
}
input[type="text"]:focus {
  background-color: #313250 !important;
  color: #fff !important;
  border-radius: 15px;
}
textarea {
  border-radius: 15px;
  color: #fff;
  opacity: 1;
}
.Input {
  padding-bottom: 20px;
}
.Input h1 {
  font-size: medium;
  font-weight: bold;
}
