.rti--container {
  background: transparent !important;
}

.rti--input {
  background-color: transparent !important;
  border: none !important;
  width: 100%;
  color: white !important;
}

.rti--tag {
  background: #16173a !important;
}
